# Ignore large ML model folders
bertv3_model/
models/
checkpoints/
New folder/
dataset/

# Ignore large file types
*.h5
*.bin
*.pt
*.pkl
*.pickle
*.npy
*.npz
*.csv
*.xlsx
*.json

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual env
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
